<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<setting name="useGeneratedKeys" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="V3_MemberVO" type="com.kte.mvc.vo.V3_MemberVO" />
	</typeAliases>
	
</configuration>
